$font-size: 1rem;
$font-color: lch(28 99 35);

html {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    color: $font-color;
}

img {
    background-color: black
}

.h1 {
    color: rgb(89, 0, 255);
  }
